@font-face {
    font-family: 'Raleway-Medium';
    src: url(../font/Raleway-Medium.eot);
    src: url(../font/Raleway-Medium.eot?#iefix) format('embedded-opentype'),
         url(../font/Raleway-Medium.woff2) format('woff2'),
         url(../font/Raleway-Medium.woff) format('woff'),
         url(../font/Raleway-Medium.ttf) format('truetype'),
         url(../font/Raleway-Medium.otf) format('otf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway-Medium';
    background-color: #F4F6F5;
}

.container {
    width: 95%;
    max-width: 1110px;
    margin: 0 auto;
}
.btn-tab{
    background-color: #D4E8D9;
    border-radius: 20px;
    padding: 10px 20px;
    color:#2C2D35;
    font-size: 20px;
    border: 2px solid #D4E8D9;
    cursor: pointer;

}

header {
    background-color: #E1EDE6;
    padding: 33px 0;
    width: 100%;
}
header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-wrapper .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
header .header-wrapper .logo span {
    padding-left: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #598D66;
}
header .header-wrapper nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 60px;
}
header .header-wrapper nav ul li a {
    text-decoration: none;
    color: #2C2D35;
    font-size: 20px;
}
.banner-wrapp {
    background-color: #F4F6F5;
    display: flex;
}
.banner-wrapp .abc{
    width: 100%;
}
.banner-wrapp .abc img{
    display: block;
    object-fit: cover;
    width: 100%;
}
.def{
    font-family: 'Raleway-Medium';
    padding-top: 145px;
    width: 540px;
    height: 331px;
    margin-left: 30px;
}    
.def-h1{
    font-weight: 500;
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 20px;
}
span{
    color: #598D66;  
}
.def-p{
    color: #86928B;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.btn{
    color:#598D66 ;
    padding: 20px 60px;
    font-weight: 500;
    font-size: 20px;
    background-color: transparent;
    border: 1px;
    border-color: #598D66;
    border-style: solid;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    color: white;
    background-color: #376B44;
}
.btn.btn-gold{
    background-color: #EEDB6D;
    border-color: #EEDB6D;
    color: #2C2D35;
}
.btn.btn-gold:hover{
    background-color: #FAEB97;
    border-color: #FAEB97;
}
.head-h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
}
.paragraph{
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    margin-top: 20px;
}
.catalog-wrapper{
    padding-top: 70px;
    padding-bottom: 70px;
}
.catalog-wrapper .catalog-wrapp .catalog-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.catalog-wrapper .catalog-wrapp .catalog-head ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.catalog-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.catalog-list .catalog-item .wrapp-img{
    height: 74%;
    padding-bottom: 20px;
    

}
.catalog-list .catalog-item .wrapp-img img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}
.catalog-list .catalog-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #E1EDE6;
    padding: 20px 20px 30px 20px ;
    height: 730px;
    
}
.catalog-list .catalog-item .btn{
    margin-top: auto;
    
}
 .artist{
    font-size: 18px;
    line-height: 21.13px;
    color: #86928B;
    padding-bottom: 10px;
}
.title{
    font-size: 30px;
    line-height: 35.22px;
    color:#2C2D35;
    padding-bottom: 8px;
}
.material{
    font-size: 18px;
    line-height: 21.13px;
    color:#2C2D35;
    padding-bottom: 30px;
}
.price{
    font-size: 24px;
    line-height: 28.18px;
    color: #598D66;
    padding-bottom: 20px;
}
.btn-tab{
    transition: 0.5s;
}
.btn-tab:hover{
    color: #F4F6F5;
    background-color:#598D66;
    border-color: #598D66;
}
.btn-tab.active{
    color: #F4F6F5;
    background-color: #376B44;
    border-color: #376B44;
}
.new-wrapper{
    background-image: url(/assets/images/pic_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding:70px 0;
}
.new-wrapper .new-wrapp{
    width: 50%;
}
.new-wrapper .new-wrapp .new-head{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #F4F6F5;
    line-height: 40px;
}
.new-wrapper .new-wrapp .btn-gold{
    margin-top:60px ;
}
.about-wrapper{
    padding-top: 70px;
    padding-bottom: 70px;
}
.about-wrapper .about-wrapp .wrapp-img{
    width: 100%;
    max-width: 445px;
    
}
.about-wrapper .about-wrapp .wrapp-img img{
    width: 100%;
    display: block;
    max-width: 100%;
}
.about-wrapper .about-wrapp{
    display: flex;
    gap: 30px;
    align-items: center;

}
.about-wrapper .about-wrapp .about-info ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.about-wrapper .about-wrapp .about-info ul li{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.about-wrapper .about-wrapp .about-info ul li img{
    display: block;
    width: 100%;
    max-width: 100%;
    
}
.about-wrapper .about-wrapp .about-info .paragraph{
    color: #2C2D35;
    margin: 20px 0;
}
footer{
    background-color: #E1EDE6;
    padding: 29px 166px 23px 166px;
    width: 100%;
}
.footer-wrapp{
    display: flex;
    justify-content: space-between;
}
footer .footer-wrapp .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;

}
.footer-wrapp .footer-logo{
    display: flex;
    flex-direction: column;
    gap: 41px;
}
.footer-wrapp .footer-logo .logo span{
    font-size: 20px;
    line-height: 23.48px;
    font-weight: 700;
}
.footer-logo .tel-master{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-logo .tel-master .tel{
    font-size: 20px;
    line-height: 23.48px;
    color: #2C2D35;
    text-decoration: none;
}
.footer-logo .tel-master p{
    font-size: 18px;
    line-height: 21.13px;
    color: #86928B;
}
.footer-wrapp .footer-dudes{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-right: 115px;
}
.footer-wrapp .footer-dudes a{
    text-decoration: none;
}
.footer-wrapp .footer-dudes .footer-content{ 
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.footer-wrapp .footer-dudes .footer-news{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.footer-wrapp .footer-dudes .footer-about{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.footer-wrapp .footer-others{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.footer-wrapp .footer-others ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.footer-wrapp .footer-others ul svg path:hover{
    fill: #598D66;
    transition: all .3s ease;

}
.footer-dudes .good{
    font-size: 20px;
    line-height: 23.48px;
    color: #2C2D35;
}
.footer-dudes .extra-good{
    font-size: 18px;
    line-height: 27px;
    color: #86928B;
}
.footer-others .others-good{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.footer-others p{
    font-size: 12px;
    line-height: 14.4px;
    color: #86928B;
}
@media (max-width: 1280px) {

    header .header-wrapper .logo span {
        font-size: 18px;
    }

    header .header-wrapper nav ul li a {
        font-size: 18px;
    }

    header .header-wrapper nav ul {
        gap: 40px;
    }
    .def{
        padding-top: 100px;
    }
    .def-h1 {
        font-size: 50px;
        line-height: 55px;
    }

    .def-p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 40px;
    }

    .btn {
        padding: 15px 50px;
        font-size: 18px;
    }

    .btn-tab {
        font-size: 18px;
        padding: 8px 15px;
    }

    .head-h2 {
        font-size: 36px;
        line-height: 40px;
    }

    .paragraph {
        font-size: 16px;
        line-height: 24px;
    }

    .catalog-list .catalog-item {
        padding: 15px;
    }

    .artist, .material {
        font-size: 16px;
        line-height: 18px;
    }

    .title {
        font-size: 26px;
        line-height: 30px;
    }

    .price {
        font-size: 22px;
        line-height: 26px;
    }
    footer{
        padding: 20px 100px 18px 100px;
    }
    .footer-logo .tel-master .tel {
        font-size: 18px;
    }

    .footer-logo .tel-master p {
        font-size: 16px;
    }
    .footer-wrapp .footer-dudes{
        margin-right: 70px;
    }
    .footer-dudes .good {
        font-size: 18px;
    }

    .footer-dudes .extra-good {
        font-size: 16px;
    }

    .footer-others p {
        font-size: 11px;
    }
    .footer-wrapp .footer-others ul{
        gap: 20px;
    }
}
@media (max-width: 768px) {
    header {
        padding: 20px 0;
    }

    header .header-wrapper nav ul {
        gap: 20px;
    }

    header .header-wrapper nav ul li a {
        font-size: 16px;
    }

    header .header-wrapper .logo span {
        font-size: 16px;
    }

    header .header-wrapper .logo svg {
        width: 25px;
        height: 25px;
    }
    .banner-wrapp {
        flex-direction: column;
        align-items: center;
    }

    .def {
        width: 100%;
        padding-top: 20px; 
        margin-left: 0; 
        text-align: center; 
    }

    .def-h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .def-p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .btn {
        padding: 15px 40px;
        font-size: 16px;
    }

    .catalog-list {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 20px;
    }

    .catalog-list .catalog-item {
        height: auto;
        padding: 15px;
    }

    .catalog-list .catalog-item .wrapp-img {
        height: auto;
    }

    .catalog-wrapper .catalog-wrapp .catalog-head {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .catalog-wrapper .catalog-wrapp .catalog-head ul {
        gap: 10px;
    }

    .btn-tab {
        font-size: 16px;
        padding: 8px 15px;
    }

    .head-h2 {
        font-size: 28px;
        line-height: 32px;
    }

    .new-wrapper .new-wrapp {
        width: 80%;
    }

    .new-wrapper .new-wrapp .btn-gold {
        margin-top: 30px;
    }

    .paragraph {
        font-size: 16px;
        line-height: 24px;
    }

    .about-wrapper .about-wrapp {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-wrapper .about-wrapp .wrapp-img {
        max-width: 100%;
    }

    .about-wrapper .about-wrapp .about-info ul {
        gap: 15px; 
    }

    .about-wrapper .about-wrapp .about-info ul li {
        width: 60px; 
        height: 60px;
    }

    
    footer {
        padding: 20px; 
    }

    .footer-wrapp {
        flex-direction: column; 
        gap: 30px;
        align-items: center;
    }

    .footer-wrapp .footer-dudes {
        flex-direction: column; 
        gap: 20px;
        margin-right: 0;
    }

    .footer-wrapp .footer-others ul {
        justify-content: flex-start;
    }
}
@media (max-width: 480px) {
    .container {
        width: 95%;
        max-width: 350px;
    }

    header {
        padding: 15px 0;
    }

    header .header-wrapper nav ul {
        gap: 8px;
    }

    header .header-wrapper nav ul li a {
        font-size: 12px;
    }

    header .header-wrapper .logo span {
        font-size: 12px;
    }

    header .header-wrapper .logo svg {
        width: 18px;
        height: 18px;
    }

    .def-h1 {
        font-size: 20px;
        line-height: 24px;
    }

    .def-p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .btn {
        padding: 8px 25px;
        font-size: 12px;
    }

    .btn-tab {
        font-size: 12px;
        padding: 5px 10px;
    }

    .catalog-list .catalog-item {
        padding: 8px;
    }

    .artist, .material {
        font-size: 14px;
        line-height: 16px;
    }

    .title {
        font-size: 20px;
        line-height: 24px;
    }

    .price {
        font-size: 18px;
        line-height: 22px;
    }

    .head-h2 {
        font-size: 18px;
        line-height: 22px;
    }

    .paragraph {
        font-size: 14px;
        line-height: 20px;
    }

    .new-wrapper .new-wrapp {
        width: 95%;
    }

    .new-wrapper .new-wrapp .new-head img {
        width: 25px;
        height: 25px;
    }

    .new-wrapper .new-wrapp .btn-gold {
        margin-top: 20px;
    }

    .about-wrapper .about-wrapp .about-info ul li {
        width: 45px;
        height: 45px;
    }

    .footer-logo .tel-master .tel {
        font-size: 14px;
    }

    .footer-logo .tel-master p {
        font-size: 12px;
    }

    .footer-dudes .good {
        font-size: 14px;
    }

    .footer-dudes .extra-good {
        font-size: 12px;
    }

    .footer-others p {
        font-size: 9px;
    }
}